.App {
  text-align: center;
}

.box {
  padding: 2% 15%;
  margin-bottom: 70px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(110,110,110,0.64);
  -moz-box-shadow: 0px 1px 3px 0px rgba(110,110,110,0.64);
  box-shadow: 0px 1px 3px 0px rgba(110,110,110,0.64);
}

.kubernetes_title {
  color: #884BE2;
}

.functions_title {
  color: #FDAE18;
}

.apps_title {
  color: #5D9FEE;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
